<div class="event-card" data-event-id = "<%= event.id %>">
    <div class="event-date">
        <p><%= dayjs(event.date).format('MMMM').toUpperCase().slice(0,3) %></p>
        <p><%= dayjs(event.date).format('D') %></p>
    </div>
    <div class="event-thumb">
        <img src="<%= event.flyer.src %>" alt=" <%= event.flyer.alt %>">
    </div>
    <div class="event-details">
        <p class="event-name">
            <%= event.name%>
        </p>
        <div class="event-links">
            <p class="event-venue">
                <% if(event.venue[0].url){ %><a href="<%= event.venue[0].url %>" rel="noopener noreferrer" target="_blank"><i class="fa-regular fa-map"></i><%= event.country %></a><% } else {%><i class="fa-regular fa-map"></i><%= event.country %><% } %>
            </p>
            <p class="event-sns">
                <% for(sns of event.sns) { %>
                    <a href="<%= sns.url %>" aria-label="<%= sns.name %>"><i class="<%= sns.faClass %>"></i></a>
                <% } %>
            </p>
        </div>
    </div>
</div>