<h1 class="event-name">
    <%= event.name.toUpperCase()%>
</h1>
<div class="event-image">
    <img src="<%= event.flyer.src %>" alt=" <%= event.flyer.alt %>">
</div>
<h2 class="event-headline">
    <%= event.description.headline %>
</h2>
<p class="event-description">
    <%= event.description.body %>
</p>
<p class="event-cta">
    <%= event.description.cta %>
</p>
<div class="event-details">
    <p class="date">
        <i class="fa-regular fa-calendar"></i><%= dayjs(event.date).format('YYYY MMMM D') %>
    </p>
    <p class="venue">
        <i class="fa-regular fa-map"></i><% if(event.venue.url){ %><a href="<%= event.venue.url %>"><%= event.venue.name %></a><% } else {%><%= event.venue.name %><% } %>
    </p>
    <p class="sns">
        <% for(sns of event.sns) { %>
            <a href="<%= sns.url %>" aria-label="<%= sns.name %>"><i class="<%= sns.faClass %>"></i></a>
        <% } %>
    </p>
</div>