<div class="user-card" data-user-id = "<%= user.id %>">
    <figure class="user-thumb">
        <%- user.avatar %>
    </figure>
    <div class="user-details">
        <p class="user-name">
            <%= user.name%>
        </p>
        <p class="user-location">
            <i class="fa-regular fa-map"></i><%= user.location %>
        </p>
        <p class="user-sns">
            <% for(sns of user.sns) { %>
                <a href="<%= sns.url %>" aria-label="<%= sns.name %>"><i class="<%= sns.faClass %>"></i></a>
            <% } %>
        </p>
    </div>
</div>