<% extend('layout') %>

<div class="profile-container">
    <section class="user-banner">
        <figure class="profile-picture">
            <%- user.avatar %>
        </figure>
        <div class="user-intro">
            <div class="user-greeting">
                <h1 class="name"><%= user.name %></h1>
                <p class="user-header"><%= user.greeting %></h2>
            </div>
            <div class="user-dashboard">
                <ul class="user-stats">
                    <li><a href="./following"><b><%= user.totalFollowing %></b> following</a></li>
                    <li><a href="./followers"><b><%= user.totalFollowedBy %></b> followers</a></li>
                </ul>
                <ul class="user-actions">
                    <% for(let link of userActions) { %>
                        <li class="user-action">
                            <a href="<%= link.href %>"><%= link.name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
    <section class="user-details">
        <nav>
            <ul>
                <% for(let link of userTabs) { %>
                    <li class="<%= link.class %>" >
                        <div class="tab-filler"></div>
                        <div class="tab-filler"></div>
                        <a href="<%= link.href %>"><%= link.name %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
        <div class="details-content">
            <% if(info === "events") { %>
                <section class="details-events">
                
                    <% for(let event of events){ %>
                        <%- include("./partials/event_card.ejs",{event: event}) %>
                    <% } %>
                </section>
            <% }else if(info === "about"){ %>
                <section class="details-about">
                    <h2>Biography</h2>
                    <pre>
                        <%= user.bio %>
                    </pre>
                </section>
            <% }else if(info === "community"){ %>
                <section class="details-dancers">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <% //for(let user of community){ %>
                        <%- //include("./partials/user_card.ejs",{user: user}) %>
                    <% //} %>
                </section>
            <% } %>
        </div>
    </section>
</div>