<% extend('layout') %>

<div class="profile-container">
    <section class="user-banner">
        <a href="/community/profile">
            <figure class="profile-picture">
                <%- user.avatar %>
            </figure>
        </a>
        <div class="user-intro">
            <div class="user-greeting">
                <h1 class="name"><%= user.name %></h1>
                <p class="user-header"><%= user.greeting %></h2>
            </div>
            <div class="user-dashboard">
                <ul class="user-stats">
                    <li><a href="/community/profile/danced"><b><%= user.totalDanced %></b> danced</a></li>
                    <li><a href="/community/profile/want-to-dance"><b><%= user.totalWantToDance %></b> want to dance</a></li>
                </ul>
                <ul class="user-actions">
                    <% for(let link of userActions) { %>
                        <li class="user-action">
                            <a href="<%= link.url %>"><%= link.name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
    <section class="user-details">
        <nav>
            <ul>
                <% for(let link of userTabs) { %>
                    <li class="<%= link.class %>" >
                        <div class="tab-filler"></div>
                        <div class="tab-filler"></div>
                        <a href="<%= link.href %>"><%= link.name %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
        <div class="details-content">
            <% if(editProfile){ %>
                <%- include("./partials/profile-edit.ejs",{user: user}) %>
            <% }else if(profileSettings){ %>
                <%- include("./partials/profile-settings.ejs",{user: user}) %>
            <% } %>
        </div>
    </section>
</div>